.assignments-upload{
    padding: 50px 80px;
}

.assignments-upload .review-heading{
    display: flex;
    flex-direction: column;
}

.assignments-upload input{
    outline-width: 0;
    width: 90%;
    padding: 10px 5px;
    border: 1px solid lightgray;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    font-size: 16px;
}

.file-upload-input{
    font-size: 14px !important;
}