.banner{
    margin-bottom: 50px;
}

.banner h1{
    color: #333333;
    font-family: 'Lora', serif;
    font-size: 85px;
    font-weight: 400;
    position: relative;
    right: 100px;
    max-width: 700px;
    text-align: left;
}

.drawer-icon{
    color: grey !important;
    position: absolute !important;
    right: 300px;
    top: 30px;
}